USE [master]
GO
IF EXISTS (SELECT name FROM sys.databases WHERE name = N'QuanLyBanVeTau')
BEGIN
    ALTER DATABASE [QuanLyBanVeTau] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [QuanLyBanVeTau];
END
GO

CREATE DATABASE [QuanLyBanVeTau]
GO
USE [QuanLyBanVeTau]
GO

-- =============================================
-- TẠO BẢNG
-- =============================================

CREATE TABLE [dbo].[CaLamViec](
    [maCa]       [varchar](20)  NOT NULL,
    [tenCa]      [nvarchar](50) NOT NULL,
    [gioBatDau]  [time](7)      NOT NULL,
    [gioKetThuc] [time](7)      NOT NULL,
    PRIMARY KEY CLUSTERED ([maCa] ASC)
)
GO

-- Có thêm heSoCuLy so với SQL gốc
CREATE TABLE [dbo].[Ga](
    [maGa]      [varchar](20)   NOT NULL,
    [tenGa]     [nvarchar](100) NOT NULL,
    [diaChi]    [nvarchar](255) NULL,
    [tinhThanh] [nvarchar](100) NULL,
    [heSoCuLy]  [float]         NOT NULL DEFAULT 1.2,  -- hệ số cự ly tính giá vé
    PRIMARY KEY CLUSTERED ([maGa] ASC)
)
GO

CREATE TABLE [dbo].[Tau](
    [maTau]      [varchar](20)   NOT NULL,
    [tenTau]     [nvarchar](100) NOT NULL,
    [soToa]      [int]           NULL DEFAULT 5,
    [tongSoGhe]  [int]           NULL DEFAULT 100,
    [trangThai]  [nvarchar](50)  NULL DEFAULT N'Đang hoạt động',
    [ghiChu]     [nvarchar](255) NULL,
    PRIMARY KEY CLUSTERED ([maTau] ASC)
)
GO

CREATE TABLE [dbo].[ToaTau](
    [maToaTau]    [varchar](20)  NOT NULL,
    [soToa]       [int]          NOT NULL,
    [soLuongGhe]  [int]          NOT NULL,
    [loaiToa]     [nvarchar](50) NULL,
    [heSoLoaiToa] [float]        NULL DEFAULT 1.0,
    [maTau]       [varchar](20)  NOT NULL,
    PRIMARY KEY CLUSTERED ([maToaTau] ASC),
    FOREIGN KEY ([maTau]) REFERENCES [Tau]([maTau])
)
GO

CREATE TABLE [dbo].[Ghe](
    [maGhe]    [varchar](20) NOT NULL,
    [soGhe]    [varchar](20) NOT NULL,
    [loaiGhe]  [nvarchar](50) NULL,   -- lưu enum name: GHE_CUNG, GHE_MEM, GIUONG_NAM
    [maToaTau] [varchar](20) NOT NULL,
    PRIMARY KEY CLUSTERED ([maGhe] ASC),
    FOREIGN KEY ([maToaTau]) REFERENCES [ToaTau]([maToaTau])
)
GO

CREATE TABLE [dbo].[ChuyenTau](
    [maChuyenTau] [varchar](20)   NOT NULL,
    [ghiChu]      [nvarchar](255) NULL,
    [maTau]       [varchar](20)   NOT NULL,
    [trangThai]   [nvarchar](50)  NULL,
    PRIMARY KEY CLUSTERED ([maChuyenTau] ASC),
    FOREIGN KEY ([maTau]) REFERENCES [Tau]([maTau])
)
GO

CREATE TABLE [dbo].[ChiTietChuyenTau](
    [maChuyenTau]      [varchar](20) NOT NULL,
    [thoiGianKhoiHanh] [datetime]    NOT NULL,
    [thoiGianDuKien]   [datetime]    NOT NULL,
    [maGaDi]           [varchar](20) NOT NULL,
    [maGaDen]          [varchar](20) NOT NULL,
    FOREIGN KEY ([maChuyenTau]) REFERENCES [ChuyenTau]([maChuyenTau]),
    FOREIGN KEY ([maGaDi])      REFERENCES [Ga]([maGa]),
    FOREIGN KEY ([maGaDen])     REFERENCES [Ga]([maGa])
)
GO

CREATE TABLE [dbo].[KhachHang](
    [maKH]      [varchar](20)   NOT NULL,
    [hoTenKH]   [nvarchar](100) NOT NULL,
    [cccd]      [varchar](20)   NULL,
    [sdt]       [varchar](15)   NULL,
    [email]     [varchar](100)  NULL,
    [namSinh]   [date]          NULL,
    [laSinhVien][bit]           NULL DEFAULT 0,
    PRIMARY KEY CLUSTERED ([maKH] ASC)
)
GO

CREATE TABLE [dbo].[NhanVien](
    [maNV]     [varchar](20)   NOT NULL,
    [hoTenNV]  [nvarchar](100) NOT NULL,
    [email]    [varchar](100)  NULL,
    [ngaySinh] [date]          NULL,
    [soDT]     [varchar](15)   NULL,
    [gioiTinh] [bit]           NULL,
    [diaChi]   [nvarchar](255) NULL,
    [soCCCD]   [varchar](20)   NULL,
    [loaiNV]   [nvarchar](50)  NULL,
    PRIMARY KEY CLUSTERED ([maNV] ASC)
)
GO

CREATE TABLE [dbo].[TaiKhoan](
    [maNV]         [varchar](20)  NOT NULL,
    [matKhau]      [varchar](255) NOT NULL,
    [ngayDangNhap] [datetime]     NULL,
    [ngayDangXuat] [datetime]     NULL,
    PRIMARY KEY CLUSTERED ([maNV] ASC),
    FOREIGN KEY ([maNV]) REFERENCES [NhanVien]([maNV])
)
GO

CREATE TABLE [dbo].[KhuyenMai](
    [maKhuyenMai]     [varchar](20)   NOT NULL,
    [tenKhuyenMai]    [nvarchar](100) NOT NULL,
    [trangThai]       [bit]           NULL DEFAULT 1,
    [moTaChiTiet]     [nvarchar](255) NULL,
    [tiLeGiamGia]     [float]         NOT NULL,
    [loaiKhachHang]   [nvarchar](50)  NULL,
    [thoiGianBatDau]  [datetime]      NOT NULL,
    [thoiGianKetThuc] [datetime]      NOT NULL,
    PRIMARY KEY CLUSTERED ([maKhuyenMai] ASC)
)
GO

CREATE TABLE [dbo].[HoaDon](
    [maHoaDon]            [varchar](20)  NOT NULL,
    [ngayLapHD]           [datetime]     NULL DEFAULT GETDATE(),
    [maNV]                [varchar](20)  NOT NULL,
    [maKH]                [varchar](20)  NOT NULL,
    [tongTien]            [float]        NULL,
    [tienNhan]            [float]        NULL,
    [phuongThucThanhToan] [nvarchar](50) NULL,
    PRIMARY KEY CLUSTERED ([maHoaDon] ASC),
    FOREIGN KEY ([maNV]) REFERENCES [NhanVien]([maNV]),
    FOREIGN KEY ([maKH]) REFERENCES [KhachHang]([maKH])
)
GO

CREATE TABLE [dbo].[Ve](
    [maVe]        [varchar](20)  NOT NULL,
    [ngayMua]     [datetime]     NULL DEFAULT GETDATE(),
    [loaiVe]      [nvarchar](50) NULL,  -- MOT_CHIEU, KHU_HOI
    [trangThaiVe] [nvarchar](50) NULL,
    [giaVe]       [float]        NULL,  -- giá sau tất cả giảm giá
    [maGhe]       [varchar](20)  NOT NULL,
    [maHoaDon]    [varchar](20)  NOT NULL,
    [maChuyenTau] [varchar](20)  NOT NULL,
    [maKH]        [varchar](20)  NULL,
    [maKhuyenMai] [varchar](20)  NULL,
    PRIMARY KEY CLUSTERED ([maVe] ASC),
    FOREIGN KEY ([maGhe])       REFERENCES [Ghe]([maGhe]),
    FOREIGN KEY ([maHoaDon])    REFERENCES [HoaDon]([maHoaDon]),
    FOREIGN KEY ([maChuyenTau]) REFERENCES [ChuyenTau]([maChuyenTau]),
    FOREIGN KEY ([maKH])        REFERENCES [KhachHang]([maKH]),
    FOREIGN KEY ([maKhuyenMai]) REFERENCES [KhuyenMai]([maKhuyenMai])
)
GO

CREATE TABLE [dbo].[DonDoiTraVe](
    [maDon]       [varchar](20) NOT NULL,
    [tienBu]      [float]       NULL,
    [ngayLap]     [datetime]    NULL DEFAULT GETDATE(),
    [tienHoanTra] [float]       NULL,
    [loaiDon]     [nvarchar](50) NULL,
    [maVe]        [varchar](20) NOT NULL,
    PRIMARY KEY CLUSTERED ([maDon] ASC),
    FOREIGN KEY ([maVe]) REFERENCES [Ve]([maVe])
)
GO

CREATE TABLE [dbo].[LichLamViec](
    [maLich]  [varchar](20) NOT NULL,
    [maNV]    [varchar](20) NOT NULL,
    [maCa]    [varchar](20) NOT NULL,
    [ngayLam] [date]        NOT NULL,
    PRIMARY KEY CLUSTERED ([maLich] ASC),
    FOREIGN KEY ([maNV]) REFERENCES [NhanVien]([maNV]),
    FOREIGN KEY ([maCa]) REFERENCES [CaLamViec]([maCa])
)
GO

-- =============================================
-- INSERT DATA
-- =============================================

-- GA — có heSoCuLy theo nhóm:
--   1.0 = ga xuất phát/gốc (Diêu Trì, Bồng Sơn)
--   1.2 = gần (cùng khu vực miền Trung)
--   1.4 = trung bình (Bắc Trung Bộ, xa hơn)
--   1.6 = xa (Bắc hoặc Nam xa)
GO

-- TAU + TOATAU + GHE
-- heSoLoaiToa: toa 1-4 = 1.0 (ghế cứng), toa 5-8 = 1.2 (giường nằm/VIP), toa 9-12 = 1.0 (ghế mềm)
-- loaiGhe lưu enum name để Java LoaiGhe.valueOf() dùng được
DECLARE @t INT = 1;
WHILE @t <= 100
BEGIN
    DECLARE @trangThaiT NVARCHAR(50) = CASE WHEN @t % 10 = 0 THEN N'Bảo trì' ELSE N'Đang hoạt động' END;
    DECLARE @ghiChuT NVARCHAR(255)   = CASE WHEN @trangThaiT = N'Bảo trì' THEN N'Kiểm tra định kỳ hệ thống phanh' ELSE N'Sẵn sàng phục vụ' END;
    INSERT [dbo].[Tau] ([maTau], [tenTau], [soToa], [tongSoGhe], [trangThai], [ghiChu])
    VALUES ('SEVN' + RIGHT('00' + CAST(@t AS VARCHAR), 3),
            N'Tàu SE ' + CAST(@t AS VARCHAR), 12, 240, @trangThaiT, @ghiChuT);

    DECLARE @toa INT = 1;
    WHILE @toa <= 12
    BEGIN
        DECLARE @maT         VARCHAR(20) = 'T' + RIGHT('0' + CAST(@toa AS VARCHAR), 2) + 'SEVN' + RIGHT('00' + CAST(@t AS VARCHAR), 3);
        DECLARE @loaiToa     NVARCHAR(50) = CASE WHEN @toa <= 4 THEN 'TOA_THUONG' ELSE 'TOA_VIP' END;
        -- heSoLoaiToa theo yêu cầu: toa 5-8 là giường nằm/VIP = 1.2, còn lại = 1.0
        DECLARE @heSo        FLOAT = CASE WHEN @toa BETWEEN 5 AND 8 THEN 1.2 ELSE 1.0 END;
        DECLARE @loaiGheStr  NVARCHAR(50) = CASE
            WHEN @toa <= 4  THEN 'GHE_CUNG'   -- enum name
            WHEN @toa <= 8  THEN 'GIUONG_NAM' -- enum name
            ELSE                 'GHE_MEM'    -- enum name
        END;

        INSERT [dbo].[ToaTau] ([maToaTau], [soToa], [soLuongGhe], [loaiToa], [heSoLoaiToa], [maTau])
        VALUES (@maT, @toa, 20, @loaiToa, @heSo, 'SEVN' + RIGHT('00' + CAST(@t AS VARCHAR), 3));

        DECLARE @g INT = 1;
        WHILE @g <= 20
        BEGIN
            INSERT [dbo].[Ghe] ([maGhe], [soGhe], [loaiGhe], [maToaTau])
            VALUES ('G' + RIGHT('0' + CAST(@g AS VARCHAR), 2) + @maT,
                    CAST(@g AS VARCHAR), @loaiGheStr, @maT);
            SET @g = @g + 1;
        END
        SET @toa = @toa + 1;
    END
    SET @t = @t + 1;
END
GO

-- CHUYENTAU + CHITIETCHUYENTAU
DECLARE @gaDen VARCHAR(20), @tripIdx INT = 1;
DECLARE @dayOffset INT = -28;

WHILE @dayOffset <= 7
BEGIN
    DECLARE @gaIdx INT = 0;
    DECLARE curGa CURSOR FOR SELECT maGa FROM Ga WHERE maGa <> 'DIEUTRI';
    OPEN curGa; FETCH NEXT FROM curGa INTO @gaDen;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @numOut INT, @numIn INT;
        IF @dayOffset < -7
        BEGIN SET @numOut = 5 + (@gaIdx % 2); SET @numIn = 3 + (@gaIdx % 2); END
        ELSE
        BEGIN SET @numOut = 6 + (@gaIdx % 2); SET @numIn = 3 + (@gaIdx % 2); END

        DECLARE @slot INT = 1;
        WHILE @slot <= @numOut
        BEGIN
            DECLARE @tIdx INT = (ABS(@dayOffset * 100) + (@gaIdx * 10) + @slot) % 100 + 1;
            IF @tIdx % 10 = 0 SET @tIdx = CASE WHEN @tIdx < 100 THEN @tIdx + 1 ELSE @tIdx - 1 END;
            DECLARE @trainID  VARCHAR(20)   = 'SEVN' + RIGHT('00' + CAST(@tIdx AS VARCHAR), 3);
            DECLARE @gaPos    INT           = (SELECT COUNT(*) FROM Ga g2 WHERE g2.maGa < @gaDen);
            DECLARE @duration INT           = ABS(@gaPos - 15) * 1 + 2;
            DECLARE @status   NVARCHAR(50)  = CASE
                WHEN @dayOffset < 0 THEN N'DA_DEN'
                WHEN @dayOffset = 0 THEN N'DANG_CHAY'
                ELSE N'CHUAN_BI' END;

            -- Chuyến đi: Diêu Trì → ga đến
            DECLARE @maCT_Di VARCHAR(20) = 'CT' + RIGHT('00000' + CAST(@tripIdx AS VARCHAR), 5);
            INSERT [dbo].[ChuyenTau] ([maChuyenTau], [ghiChu], [maTau], [trangThai])
            VALUES (@maCT_Di, N'Đi ' + @gaDen, @trainID, @status);

            DECLARE @dep_Time_Di FLOAT    = (24.0 / @numOut) * (@slot - 1) + (@gaIdx % 2);
            DECLARE @dep_Di      DATETIME = DATEADD(MINUTE, CAST(@dep_Time_Di * 60 AS INT),
                                             CAST(CAST(DATEADD(DAY, @dayOffset, GETDATE()) AS DATE) AS DATETIME));
            DECLARE @arr_Di      DATETIME = DATEADD(HOUR, @duration, @dep_Di);

            INSERT [dbo].[ChiTietChuyenTau] ([maChuyenTau], [thoiGianKhoiHanh], [thoiGianDuKien], [maGaDi], [maGaDen])
            VALUES (@maCT_Di, @dep_Di, @arr_Di, 'DIEUTRI', @gaDen);
            SET @tripIdx = @tripIdx + 1;

            -- Chuyến về: ga đến → Diêu Trì
            IF @slot <= @numIn
            BEGIN
                DECLARE @maCT_Ve VARCHAR(20) = 'CT' + RIGHT('00000' + CAST(@tripIdx AS VARCHAR), 5);
                INSERT [dbo].[ChuyenTau] ([maChuyenTau], [ghiChu], [maTau], [trangThai])
                VALUES (@maCT_Ve, N'Về Diêu Trì từ ' + @gaDen, @trainID, @status);

                DECLARE @dep_Ve DATETIME = DATEADD(HOUR, 5, @arr_Di);
                DECLARE @arr_Ve DATETIME = DATEADD(HOUR, @duration, @dep_Ve);

                INSERT [dbo].[ChiTietChuyenTau] ([maChuyenTau], [thoiGianKhoiHanh], [thoiGianDuKien], [maGaDi], [maGaDen])
                VALUES (@maCT_Ve, @dep_Ve, @arr_Ve, @gaDen, 'DIEUTRI');
                SET @tripIdx = @tripIdx + 1;
            END
            SET @slot = @slot + 1;
        END
        SET @gaIdx = @gaIdx + 1;
        FETCH NEXT FROM curGa INTO @gaDen;
    END
    CLOSE curGa; DEALLOCATE curGa;
    SET @dayOffset = @dayOffset + 1;
END
GO

-- NHANVIEN
GO

-- TAIKHOAN
INSERT [dbo].[TaiKhoan] ([maNV], [matKhau]) VALUES
('NV001', '123456'), ('NV002', '123456'), ('NV003', '123456'),
('NV004', '123456'), ('NV005', '123456');
GO

-- CALAMVIEC + LICHLAMVIEC
INSERT [dbo].[CaLamViec] VALUES ('C01', N'Ca sáng',  '08:00', '16:00');
INSERT [dbo].[CaLamViec] VALUES ('C02', N'Ca chiều', '16:00', '00:00');

INSERT [dbo].[LichLamViec] VALUES ('L001', 'NV001', 'C01', '2026-05-18');
INSERT [dbo].[LichLamViec] VALUES ('L002', 'NV001', 'C02', '2026-05-19');
INSERT [dbo].[LichLamViec] VALUES ('L003', 'NV001', 'C01', '2026-05-20');
GO

-- KHUYENMAI
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenKhuyenMai], [trangThai], [moTaChiTiet], [tiLeGiamGia], [loaiKhachHang], [thoiGianBatDau], [thoiGianKetThuc]) VALUES
('KM001', N'Giảm giá sinh viên',     1, N'Giảm 8% cho sinh viên',           0.08, 'SINH_VIEN',    '2024-01-01', '2027-12-31'),
('KM002', N'Giảm giá người cao tuổi',1, N'Giảm 15% cho người trên 60 tuổi', 0.15, 'TU_60_TRO_LEN','2024-01-01', '2027-12-31'),
('KM003', N'Giảm giá trẻ em 6-10',  1, N'Giảm 10% cho trẻ em 6-10 tuổi',  0.10, 'TRE_EM_6_10',  '2024-01-01', '2027-12-31');
GO

-- KHACHHANG
DECLARE @KhachHangIds TABLE (RowNo INT IDENTITY(1,1) PRIMARY KEY, maKH VARCHAR(20) NOT NULL);
DECLARE @KhachHangSeed TABLE (
    RowNo INT IDENTITY(1,1) PRIMARY KEY,
    hoTenKH NVARCHAR(100), cccd VARCHAR(20), sdt VARCHAR(15),
    email VARCHAR(100), namSinh DATE, laSinhVien BIT
);

DECLARE @khSeedIdx INT = 1;
DECLARE @khSeedMax INT = (SELECT COUNT(*) FROM @KhachHangSeed);
WHILE @khSeedIdx <= @khSeedMax
BEGIN
    DECLARE @maKHSeed VARCHAR(20);
    WHILE 1 = 1
    BEGIN
        SET @maKHSeed = 'KH' + LEFT(REPLACE(CONVERT(VARCHAR(36), NEWID()), '-', ''), 6);
        IF NOT EXISTS (SELECT 1 FROM KhachHang WHERE maKH = @maKHSeed)
           AND NOT EXISTS (SELECT 1 FROM @KhachHangIds WHERE maKH = @maKHSeed) BREAK;
    END
    INSERT [dbo].[KhachHang] ([maKH], [hoTenKH], [cccd], [sdt], [email], [namSinh], [laSinhVien])
    SELECT @maKHSeed, hoTenKH, cccd, sdt, email, namSinh, laSinhVien
    FROM @KhachHangSeed WHERE RowNo = @khSeedIdx;
    INSERT INTO @KhachHangIds (maKH) VALUES (@maKHSeed);
    SET @khSeedIdx = @khSeedIdx + 1;
END
GO

-- HOADON + VE + DONDOITRAVE (500 records mẫu)
DECLARE @KhachHangIds2 TABLE (RowNo INT IDENTITY(1,1) PRIMARY KEY, maKH VARCHAR(20) NOT NULL);
INSERT INTO @KhachHangIds2 SELECT maKH FROM KhachHang ORDER BY maKH;

DECLARE @v INT = 1;
WHILE @v <= 500
BEGIN
    DECLARE @ngayLapHD DATETIME = DATEADD(MINUTE, -((@v * 17) % 1440), DATEADD(DAY, -(@v % 28), GETDATE()));
    DECLARE @maHD VARCHAR(20);
    WHILE 1 = 1
    BEGIN
        SET @maHD = 'HD' + FORMAT(@ngayLapHD, 'ddMMyy') + '-' + LEFT(REPLACE(CONVERT(VARCHAR(36), NEWID()), '-', ''), 4);
        IF NOT EXISTS (SELECT 1 FROM HoaDon WHERE maHoaDon = @maHD) BREAK;
    END

    DECLARE @maCT  VARCHAR(20) = (SELECT TOP 1 maChuyenTau FROM ChuyenTau ORDER BY NEWID());
    DECLARE @tauID VARCHAR(20) = (SELECT maTau FROM ChuyenTau WHERE maChuyenTau = @maCT);
    DECLARE @mG    VARCHAR(20) = (
        SELECT TOP 1 g.maGhe FROM Ghe g
        JOIN ToaTau t ON g.maToaTau = t.maToaTau
        WHERE t.maTau = @tauID ORDER BY NEWID()
    );

    DECLARE @khIdx  INT        = (@v % 15) + 1;
    DECLARE @maKHVe VARCHAR(20)= (SELECT maKH FROM @KhachHangIds2 WHERE RowNo = @khIdx);
    DECLARE @statusVe NVARCHAR(50) = CASE @v % 3 WHEN 0 THEN N'Đã thanh toán' WHEN 1 THEN N'Đã hủy' ELSE N'Chờ thanh toán' END;
    DECLARE @lv     NVARCHAR(50)   = CASE @v % 2 WHEN 0 THEN 'MOT_CHIEU' ELSE 'KHU_HOI' END;
    DECLARE @maVe   VARCHAR(20);
    WHILE 1 = 1
    BEGIN
        SET @maVe = LEFT(REPLACE(CONVERT(VARCHAR(36), NEWID()), '-', ''), 9);
        IF NOT EXISTS (SELECT 1 FROM Ve WHERE maVe = @maVe) BREAK;
    END

    -- Tính giaVe mẫu: 400 x heSoCuLy(gaDen) x heSoLoaiToa
    DECLARE @heSoCuLyMau   FLOAT = 1.2; -- mặc định
    DECLARE @heSoLoaiToaMau FLOAT = 1.0;
    SELECT TOP 1 @heSoCuLyMau = g.heSoCuLy
    FROM ChiTietChuyenTau ct JOIN Ga g ON ct.maGaDen = g.maGa
    WHERE ct.maChuyenTau = @maCT;
    SELECT TOP 1 @heSoLoaiToaMau = t.heSoLoaiToa
    FROM Ghe g JOIN ToaTau t ON g.maToaTau = t.maToaTau WHERE g.maGhe = @mG;
    DECLARE @giaVeMau FLOAT = 400 * @heSoCuLyMau * @heSoLoaiToaMau;

    INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHD], [maNV], [maKH], [tongTien], [tienNhan], [phuongThucThanhToan])
    VALUES (@maHD, @ngayLapHD, 'NV001', @maKHVe, @giaVeMau, @giaVeMau, 'TIEN_MAT');

    INSERT [dbo].[Ve] ([maVe], [ngayMua], [loaiVe], [trangThaiVe], [giaVe], [maGhe], [maHoaDon], [maChuyenTau], [maKH], [maKhuyenMai])
    VALUES (@maVe, @ngayLapHD, @lv, @statusVe, @giaVeMau, @mG, @maHD, @maCT, @maKHVe, NULL);

    IF @v % 10 = 0
    BEGIN
        DECLARE @ngayLapDon DATETIME = DATEADD(HOUR, 2, @ngayLapHD);
        DECLARE @maDon VARCHAR(20);
        WHILE 1 = 1
        BEGIN
            SET @maDon = 'DT-' + FORMAT(@ngayLapDon, 'MMyy') + '-' + LEFT(REPLACE(CONVERT(VARCHAR(36), NEWID()), '-', ''), 4);
            IF NOT EXISTS (SELECT 1 FROM DonDoiTraVe WHERE maDon = @maDon) BREAK;
        END
        INSERT [dbo].[DonDoiTraVe] ([maDon], [tienBu], [ngayLap], [tienHoanTra], [loaiDon], [maVe])
        VALUES (@maDon,
                CASE WHEN @v % 20 = 0 THEN 30000 ELSE 0 END,
                @ngayLapDon,
                CASE WHEN @v % 20 = 0 THEN 0 ELSE 350000 END,
                CASE WHEN @v % 20 = 0 THEN 'DON_DOI' ELSE 'DON_TRA' END,
                @maVe);
    END
    SET @v = @v + 1;
END
GO`


-- Sửa lại giờ 2 ca (Sáng 6h-12h, Chiều 12h-18h) theo đúng mã C01, C02 trong file của bác
UPDATE [dbo].[CaLamViec] SET gioBatDau = '06:00:00', gioKetThuc = '12:00:00' WHERE maCa = 'C01';
UPDATE [dbo].[CaLamViec] SET gioBatDau = '12:00:00', gioKetThuc = '18:00:00' WHERE maCa = 'C02';
GO

-- Thêm 3 cột quản lý tiền & trạng thái vào bảng LichLamViec cũ
ALTER TABLE [dbo].[LichLamViec] ADD tienDauCa FLOAT DEFAULT 0;
ALTER TABLE [dbo].[LichLamViec] ADD doanhThu FLOAT DEFAULT 0;
ALTER TABLE [dbo].[LichLamViec] ADD trangThai NVARCHAR(50) DEFAULT N'Chưa mở';
GO

UPDATE KhuyenMai SET loaiKhachHang = 'TU_6_TOI_DUOI_10' WHERE loaiKhachHang = 'TRE_EM_6_10';

CREATE TABLE YeuCauCapNhat (
    maNV VARCHAR(20) PRIMARY KEY,
    hoTenMoi NVARCHAR(100),
    sdtMoi VARCHAR(15),
    emailMoi VARCHAR(100),
    diaChiMoi NVARCHAR(200),
    trangThai NVARCHAR(50) -- Chứa 1 trong 3 giá trị: 'Chờ duyệt', 'Đã duyệt', 'Từ chối'
);